@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
}
.container {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 160px;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}

a{
    text-decoration: none;
    color: black;
}

.card:hover {
    box-shadow: 0 2px 20px rgba(7, 138, 245, 0.863);
}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    margin: 0;
  }
  
  /* Adjust the margin for the container to create spacing between the navbar and the cards */
  .container {
    margin-top: 80px; /* Adjust as needed */
  }
  
  /* Add styles for the logo and navbar text color */
  .logo {
    color: #fff;
  }
  
  /* Add styles for links in the navbar if needed */
  .navbar a {
    text-decoration: none;
    color: #fff; /* Adjust as needed */
  }

  .mobile-message {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    display: none; /* Hide it by default */
  }



  @media (max-width: 1260px) {
    /* Show the mobile message and hide the container */
    .container {
      display: none;
    }
    .mobile-message {
      display: block;
      height: 100%;
    }
    .logo, img{
        display: none;
    }
    body{
        background-image: url('news.png');
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 8rem ;
    }
  }